* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #676767;
}

.slider {
  width: 80%;
  height: 600px;
  margin: 100px auto;
  position: relative;
  .slides {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 300ms;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }
    }
  }

  #prevbtn,
  #nextbtn,
  #AutoPlaybtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #b6b6b6;
    position: absolute;
    cursor: pointer;
  }

  #nextbtn {
    top: 50%;
    right: 20px;
  }

  #prevbtn {
    top: 50%;
    left: 20px;
  }

  #AutoPlaybtn{
    bottom: 15%;
    left: 100px;
  }
}
